.text-lg-responsive {
  @apply text-[26px] md:text-4xl;
}

.text-intro {
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 24.3px */
}
.text-mono {
  font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 13px */
letter-spacing: 0.2px;
text-transform: uppercase;
font-feature-settings: 'dlig' on;
}

.text-hero-desc {
  font-size: 16px;
font-style: normal;
font-weight: 450;
letter-spacing: 0.16px;
}

.text-banner {
  font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 15.6px */
letter-spacing: 0.65px;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 450;
  line-height: 52.8px;
  letter-spacing: 0.34px;
}

h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: 450;
  line-height: 44px; /* 129.412% */
  letter-spacing: 0.34px;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  letter-spacing: 0.24px;
}

h4,
h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.16px;
}

q,
.quote-author {
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%; /* 16px */
  letter-spacing: 0.16px;
}

p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.24px;
}

.privacy-wrapper p {
  font-size: 16px;
}

.main-menu-text {
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.16px;
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: 35.2px;
    letter-spacing: 0.26px;
  }

  h2 {
    font-size: 26px;
    font-style: normal;
    font-weight: 450;
    line-height: 130%; /* 33.8px */
    letter-spacing: 0.26px;
  }

  h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 23.4px */
    letter-spacing: 0.18px;
  }

  q,
  .quote-author {
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 100%; /* 16px */
    letter-spacing: 0.16px;
  }

  p {
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 24.7px */
    letter-spacing: 0.19px;
  }

  .text-intro {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 22.95px */
  }
}

/* Update selectors to target both markdown and theme-doc-markdown */
.markdown h1,
.theme-doc-markdown h1 {
  font-size: 34px;
  font-style: normal;
  font-weight: 450;
  line-height: 52.8px;
  letter-spacing: 0.34px;
}

.markdown h2,
.theme-doc-markdown h2 {
  font-size: 34px;
  font-style: normal;
  font-weight: 450;
  line-height: 44px;
  letter-spacing: 0.34px;
}

.markdown h3,
.theme-doc-markdown h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.24px;
}

@media only screen and (max-width: 640px) {
  .markdown h1,
  .theme-doc-markdown h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: 35.2px;
    letter-spacing: 0.26px;
  }

  .markdown h2,
  .theme-doc-markdown h2 {
    font-size: 26px;
    font-style: normal;
    font-weight: 450;
    line-height: 130%;
    letter-spacing: 0.26px;
  }

  .markdown h3,
  .theme-doc-markdown h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.18px;
  }
}