.modalBackdrop {
  background: rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(3px);
  z-index: 21;
  position: fixed;
  inset: 0;
}

.modal {
  max-width: 683px;
  height: min-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 32px;
  margin: auto;
  z-index: 22;
  position: fixed;
  inset: 22px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.17), 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
}

.modalHeader {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 2rem;
}

.modalHeading {
  font-size: 34px;
  font-style: normal;
  font-weight: 450;
  line-height: 44px; /* 129.412% */
  letter-spacing: 0.34px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem 4rem 2.5rem 4rem;
}

.modalBody p {
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */
letter-spacing: 0.18px;
}

.modalBody {
margin-top: 1rem;
}

.closeModalBtn {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .15s ease-in-out;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 8px;
  border-width: 0;
  z-index: 40;
  display: inline-flex;
  padding: 12px;
  gap: 64px;
  border-radius: 30px;
}

@media (prefers-reduced-motion: reduce) {
  .closeModalBtn {
    transition: none;
  }
}

@media only screen and (max-width: 640px) {
  .modalContent {
    padding: 1.5rem 2rem 2.5rem 2rem;
  }
}