.video-js-wrapper video, .video-js-wrapper video-js {
  pointer-events: none !important;
}

.mock-play-btn {
  position: absolute;
  z-index: 999;
  height: 48.999px;
  width: 90px;
  color: #fff;
}

.video-js .vjs-big-play-button, .mock-play-btn {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  border-radius: 42px !important;
  border: none !important;
  background: rgba(255, 255, 255, 0.08) !important;

  backdrop-filter: blur(10px) !important;
  padding: 18px 21px !important;
  align-items: center !important;
  gap: 8px !important;
  transition: all 0.2s ease-out !important;
}

.video-js .vjs-big-play-button:hover, .mock-play-btn:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.video-js .vjs-modal-dialog {
  border-radius: 18px !important;
}

.vjs-has-started .vjs-control-bar {
  position: absolute !important;
  z-index: 30 !important;
  transform: translateY(-2rem) !important;
  width: 90% !important;
  margin: 0 auto !important;
  border-radius: 30px !important;
  padding: 0 0.5rem !important;
  background-color: rgba(255, 255, 255, 0.08) !important;
  /* padding: 2px 0 !important;
  height: auto !important;
  align-items: center !important; */
}

.video-js .vjs-picture-in-picture-control {
  display: none !important;
}

.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level {
  border-radius: 50px !important;
}

.video-js.vjs-user-inactive .vjs-progress-control .vjs-mouse-display {
}

.video-js .vjs-load-progress div {
  background: rgba(255, 255, 255, 0.1) !important;
}

.video-js .vjs-play-progress:before, .mock-play-btn:before {
  content: '' !important;
}

.vjs-icon-play:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
}

.video-js .vjs-tech,
.video-js[tabindex='-1'] {
  border-radius: 0px !important;
}

#theater-video {
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  -moz-transform: translateX(-50%) translateY(-50%) !important;
  -ms-transform: translateX(-50%) translateY(-50%) !important;
  -o-transform: translateX(-50%) translateY(-50%) !important;
  transform: translateX(-50%) translateY(-50%) !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto !important;
  height: auto !important;
  object-fit: cover;
}

.bottom-16 > .cursor-pointer > .video-js-wrapper > .video-js .vjs-tech,
.video-js[tabindex='-1'] {
  border-radius: 32px !important;
}

.vjs-poster {
  background-color: transparent !important;
  background-size: cover !important;
  border-radius: 32px !important;
}

.mx-auto > .video-js > .vjs-poster {
  border-radius: 0px !important;
  object-fit: cover;
}

.video-js .vjs-progress-holder .vjs-play-progress, .video-js .vjs-progress-holder .vjs-load-progress, .video-js .vjs-progress-holder .vjs-load-progress div {
  border-radius: 50px !important;
}

.video-js .vjs-time-control {
  font-family: monospace;
  /* position: absolute !important;
  right: -2rem !important;
  bottom: -3rem !important; */
  @apply !text-brand-gray-50;
}

/* .video-js .vjs-play-control, .video-js .vjs-volume-panel {
  display: flex !important;
  width: auto !important;
  margin: 0 0.25rem !important;
  border-radius: 42px !important;
  transition: 0.2s ease-in-out !important;
}

.video-js .vjs-play-control {
  padding: 16px !important;
}

.video-js .vjs-play-control:hover {
  @apply bg-brand-gray-40 !important;
} */

/* @media only screen and (min-width: 1024px) {
  .vjs-has-started .vjs-control-bar {
    transform: translateY(-4rem) !important;
  }
} */

.background-video {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before, .mock-play-btn:after {
  /* content: "Play " !important;
  leading-trim: both;

  text-edge: cap;
  @apply !font-inter !top-0.5 !antialiased; */
  font-size: 16px;
  display: flex !important;
  padding: 0 1.25rem;
  justify-content: flex-end;
  top: 2px !important;
  /* font-style: normal;
  font-weight: 450;
  letter-spacing: 0.16px; */
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:after, .mock-play-btn:after {
  content: "Play " !important;
  leading-trim: both;
  display: flex !important;
  padding: 0 1.25rem;
  text-edge: cap;
  @apply !font-inter !top-0.5 !antialiased;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  letter-spacing: 0.16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-video video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.background-video .background-video-content {
  z-index: 1;
  position: relative;
  height: 100%;
  overflow-y: scroll;
}